<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>MTG Counter</title>
	<link href="https://fonts.googleapis.com/css?family=Average|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css?version=2">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<body>
	<div id="app">
		<template v-if="roundStarted == true">
			<div class="count-container" v-bind:class="'player-duel-'+players">
				<my-component :basehealth="baseHealth" v-for="player in players"></my-component>
			</div>
			<div style="padding:15px">
				<button class="hollow-button" @click="resetCounts()">Reset</button>
			</div>
		</template>
		<template v-else>
			<div class="start-controls">
				<button  class="hollow-button" @click="startGame(2,20)">Quick start</button>
				<p>Or</p>
				<label for="">Players</label>
				<input type="number" placeholder="Players" v-model="players">
				<label for="">Health</label>
				<input type="number" placeholder="Life total" v-model="baseHealth">
				<button class="hollow-button"  @click="startGame(players,baseHealth)">Custom Start</button>
			</div>
		</template>
	</div>
	<script src="vue.js"></script>
	<script>

		var Child = {
			props: ['basehealth'],
		  	template: '<div class="count-area" v-bind:class="colors[color]"><div class="count-banner"><button class="toggle-color-button" @click="toggleColor"><span class="fa fa-refresh"></span></button></div><div class="count-controllers"><button @click="count = count + 5">+5</button><button @click="count++"><span class="fa fa-plus-circle"></span></button><h2>{{count}}</h2><button @click="count--"><span class="fa fa-minus-circle"></span></button><button @click="count = count-5">-5</span></button></div></div>',
		  	data: function(){
		  		return{
		  			colors: ['red','white','green','blue','black'],
		  			color:0,
		  			count: this.basehealth,
		  		}
		  	},
		  	methods: {
		  		toggleColor: function(){
		  			if (this.color == (this.colors.length - 1)){
		  				this.color = 0
		  			} else {
		  				this.color ++
		  			}
		  			
		  		}
		  	}
		}

		var app = new Vue({
			el: '#app',
			components: {
			  'my-component': Child
			},
			data: {
				players: 2,
				templatePlayer: {},
				baseHealth : 20,
				roundStarted: false
			},
			methods: {
				removePlayer: function(){
					this.players.splice(-1,1);
				},
				startGame:function(players, lifeTotal){
					var self = this;
					self.roundStarted = true;
					self.baseHealth = lifeTotal;
					self.players = parseInt(players);
				},
				resetCounts: function(){
					this.roundStarted = false;
				}
			},
			mounted: function(){
				// this.addPlayer();
				// this.addPlayer();
			}
			
		})
	</script>
</body>
</html>